<div ng-controller="EventFormController">
	<form>
		<label for="name">Name</label>
		<input type="text" id="name" ng-model="eventForm.name" ng-minlength="5" ng-maxlength="12"><br/>
		
		<label for="address">Address</label>
		<input type="text" id="address" ng-model="eventForm.address"><br/>
		
		<label for="date">Date</label>
		<input type="date" id="date" ng-model="eventForm.date"><br/>
		
		<label for="desciption">Description</label>
		<input type="text" id="description" ng-model="eventForm.description"><br/>
		
		<label for="privacy">Privacy</label>
		<select ng-model="eventForm.privacy">
			<option value="public">Public</option>
			<option value="private">Private</option>
		</select>
		<label for="category">Category</label>
		<select id="category" ng-model="eventForm.category">
			<option value="social">Social</option>
			<option value="sports">Sports</option>
			<option value="food">Food</option>
			<option value="recreational">Recreactional</option>
			<option value="informational">Informational</option>
		</select>
	</form>

	<button class="btn btn-primary" ng-click="eventForm.createEvent()">Create Event</button>

	<div>
	    {{eventForm.name}}
	  </div>
	  <div>
	    {{eventForm.address}}
	  </div>
	  <div>
	  	{{eventForm.date}}
	  </div>
	  <div>
	  	{{eventForm.time}}
	  </div>
	</div> 
</div>