
<div class="mini-navigation">
  <ul class="mini-navigation-menu">
    <li class="page-wide-text"><a href ng-click='userPage()'>User Info</a></li>
    <li class="page-wide-text"><a href ng-click='userEvents()'>Events</a></li>
    <li class="page-wide-text"><a href ng-click='userFriends()'>Friends</a></li>
  </ul>

  <hr/>

</div>


<div class='page'>
  <div class="comic-container">
    <div class="first-row">
      <div id="title-section" class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-title.png"> -->
      </div>
      <div id="title-aside" class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-one.png"> -->
      </div>
    </div>
    <div class="second-row">
      <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-two.png"> -->
      </div>
      <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-three.png"> -->
      </div>
      <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-four.png"> -->
      </div>
      <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-five.png"> -->
      </div>
    </div>
    <div class="third-row">
      <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-six.png"> -->
      </div>
      <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-seven.png"> -->
      </div>
      <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-eight.png"> -->
      </div>
    </div>
  </div>    
</div>