<!doctype html>
<html lang="en" ng-app="bamApp" ng-controller="EventsListCtrl">
<head>
  <meta charset="utf-8">
  <!-- <title ng-bind-template="Bam!: {{query}}">Bam!: </title> -->
  <title>Bam!</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" type="image/jpeg" href="/bam.jpeg">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/main.js"></script>
</head>
<body>

  <div class="container">

    <div class="header">
      <div class="quick-navigation">
        <button class="sections">
          <img height="13" width="13" src="images/three-lines.png">
          <span class="button-text">Sections</span>
        </button>
        <button class="search">
          <img height="13" width="13" src="images/magnifying-glass.png">
          <span class="button-text">Search</span>      
        </button>
      </div>

      <div class="user-tools">
        <button class="login-button" type="button">
          <span>Log In</span>
        </button>
        <button class="settings" type="button"`>
          <img height="18" width="18" src="images/settings.png">
          <span class="button-text">Settings</span>
        </button>
      </div>
    </div>

    <div class="masthead">
      <img id="nameplate" width="200" height="150" src="/images/bam.jpeg">
      <ul class="masthead-menu">
        <li class="page-wide-text">Sunday, November 9, 2014</li>
        <li style="color: #d3d3d3"> | </li>
        <li class="page-wide-text">Users Online: 2,001</li>
      </ul>
      <hr/>
    </div>

    <div class="mini-navigation">
      <ul class="mini-navigation-menu">
        <li class="page-wide-text">Event Type 1</li>
        <li class="page-wide-text">Event Type 2</li>
        <li class="page-wide-text">Event Type 3</li>
        <li class="page-wide-text">Event Type 4</li>
        <li class="page-wide-text">Event Type 5</li>
        <li class="page-wide-text">Event Type 6</li>
        <li class="page-wide-text">Event Type 7</li>
      </ul>
      <hr/>
    </div>

    <div class="comic-container">
      <div class="first-row">
        <div id="title-section" class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-title.png"> -->
        </div>
        <div id="title-aside" class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-one.png"> -->
        </div>
      </div>
      <div class="second-row">
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-two.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-three.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-four.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-five.png"> -->
        </div>
      </div>
      <div class="third-row">
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-six.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-seven.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-eight.png"> -->
        </div>
      </div>
    </div>

    <hr/>

    <div class="overlay overlay-data">
      <div class="login-container">
      <button type="button" class="overlay-close">
        <img height="30" width="30" src="images/close-button.png">  
      </button>
      <form id="login-form">
          Log In
          <input type="text" id="login-email" name="login-email" placeholder="Email Address">
          <input type="password" id="login-password" name="login-password" placeholder="Password">
      </form>
      </div>
    </div>

  </div>


<!--   <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
          <option value="-age">Oldest</option>
        </select>

      </div>
      <div class="col-md-10">
       
        <ul class="events">
          <li ng-repeat="event in events | filter:query | orderBy: orderProp">
             <span>{{event.name}}</span>
            <p>
              {{event.snippet}} <br>
              {{event.date}}
            </p>
          </li>
        </ul> -->

      </div>
    </div>
  </div>

</body>
</html>
