<!doctype html>
<html lang="en" ng-app="bamApp" ng-controller="EventsListCtrl">
<head>
  <meta charset="utf-8">
  <title ng-bind-template="Bam!: {{query}}">Bam!: </title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" type="image/jpeg" href="/bam.jpeg">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="bower_components/jquery/jquery.js"></script>
</head>
<body>

  <div class="container">

    <div class="header">
      <div class="quick-navigation">
        <button class="sections">
          <i class="icon"></i>
          <span class="button-text">Sections</span>
        </button>
        <button class="search">
          <i class="icon"></i>
          <span class="button-text">Search</span>      
        </button>
      </div>

      <div class="user-tools">
        <button class="login-button">
          <span class="button-text">Log In</span>
        </button>
        <button class="user-settings">
          <i class="icon"></i>
          <span class="button-text">Settings</span>
        </button>
      </div>
    </div>

    <div class="masthead">
      Bam!
    </div>

  </div>


<!--   <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
          <option value="-age">Oldest</option>
        </select>

      </div>
      <div class="col-md-10">
       
        <ul class="events">
          <li ng-repeat="event in events | filter:query | orderBy: orderProp">
             <span>{{event.name}}</span>
            <p>
              {{event.snippet}} <br>
              {{event.date}}
            </p>
          </li>
        </ul> -->

      </div>
    </div>
  </div>

</body>
</html>
