<!doctype html>
<html lang="en" ng-app="bamApp" ng-controller="EventsListCtrl">
<head>
  <meta charset="utf-8">
  <!-- <title ng-bind-template="Bam!: {{query}}">Bam!: </title> -->
  <title>Bam!</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" type="image/jpeg" href="/bam.jpeg">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel=stylesheet href='css/pageTransition.css'>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/main.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="js/pageTransition.js"></script>



</head>
<body>

  <div class="container">

    <div class="header">
      <div class="quick-navigation">
        <button class="sections">
          <img height="13" width="13" src="images/three-lines.png">
          <span class="button-text">Sections</span>
        </button>
        <button class="search">
          <img height="13" width="13" src="images/magnifying-glass.png">
          <span class="button-text">Search</span>      
        </button>
      </div>

      <div class="user-tools">
        <button class="login-button" type="button">
          <span>Log In</span>
        </button>
        <button class="settings" type="button"`>
          <img height="18" width="18" src="images/settings.png">
          <span class="button-text">Settings</span>
        </button>
      </div>
    </div>

    <div class="masthead">
      <img id="nameplate" width="200" height="150" src="/images/bam.jpeg">
      <ul class="masthead-menu">
        <li class="page-wide-text">Sunday, November 9, 2014</li>
        <li style="color: #d3d3d3"> | </li>
        <li class="page-wide-text">Users Online: 2,001</li>
      </ul>
      <hr/>
    </div>

    <div class="mini-navigation">
      <ul class="mini-navigation-menu">
        <li class="page-wide-text"><a href='#page-1'>User Info</a></li>
        <li class="page-wide-text"><a href='#page-2'>Events</a></li>
        <li class="page-wide-text"><a href='#page-3'>Friends</a></li>
        <li class="page-wide-text"><a href="index.html">Homepage</a></li>
      </ul>
      <hr/>
    </div>

    

    
    <div class='page current'>
        <div class="userimage-block">
          <img height="100%" width="100%" src="images/user_pic.jpg">
        </div>
        <div class="userDescription-block" ng-contoroller="UpdateController">
          <p><b>Firstname: </b>Rhyan </p> 
          <p><b>Lastname: </b>Foo Kune</p>
          <p><b>Birth Date: </b>12/30/1992</p>
          <p><b>Email: </b>rfookune@macalester.edu</p>
          <p>Lorem ipsum dolor sit amet, vis cu sale suscipit. Ne sed dictas maiorum consequat. Per id wisi civibus. Pro id oportere consequat, eros aliquip eu eos, ex liber saepe perfecto est. At affert discere qui. Eligendi partiendo sententiae cu pri, suas erat qui id. Ex eam iuvaret denique, ignota similique vim te. Elit velit constituto id ius, ne mea viris inimicus omittantur. No vis principes aliquando definitionem, alii sint solum ad has, eum facer nusquam democritum ut. Eum eu tota efficiendi.</p>
          
          <button class="edit-button" type="button" onclick="toggle_visibility('editPopupBox');">
            <span>Edit</span>
          </button>

          <!-- First Name: <input type="text" ng-model="firstName"><br> -->
          <!-- Last Name: <input type="text" ng-model="lastName"><br> -->
          <br>
          Full Name: <span ng-bind="firstName + lastName"></span>

        </div>

    </div>

    <div class='page'>
    <div class="comic-container">
      <div class="first-row">
        <div id="title-section" class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-title.png"> -->
        </div>
        <div id="title-aside" class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-one.png"> -->
        </div>
      </div>
      <div class="second-row">
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-two.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-three.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-four.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-five.png"> -->
        </div>
      </div>
      <div class="third-row">
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-six.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-seven.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-eight.png"> -->
        </div>
      </div>
    </div>    
    </div>
    
    <div class='page'>
    <div class="comic-container">
      <div class="first-row">
        <div id="title-section" class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-title.png"> -->
        </div>
        <div id="title-aside" class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-one.png"> -->
        </div>
      </div>
      <div class="second-row">
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-two.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-three.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-four.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-five.png"> -->
        </div>
      </div>
      <div class="third-row">
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-six.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-seven.png"> -->
        </div>
        <div class="comic-block">
          <!-- <img height="100%" width="100%" src="images/c-and-hobbes-eight.png"> -->
        </div>
      </div>
    </div>    
    </div>


    <div id="editPopupBox">
      <div class="popupBoxWrapper">
        <div class="popupBoxContent" ng-controller="UpdateController">
          <button class="close-icon" type="button" onclick="toggle_visibility('editPopupBox');">
            <img height="30" width="30" src="images/close-button.png">
          </button>

          <h3>Edit User Information</h3>
          <input type="text" ng-model="firstName" value="Firstname" /> {{firstName}}
          <input type="text" ng-model="lastName" value="Lastname" />
          <input type="date"ng-model="birthdate" value="Birth Date" />
          <input type="email" ng-model="email" value="email" />
          <textarea rows="4" cols="50" ng-model="description">
          </textarea>
          <button class="edit-button" type="button" onclick="toggle_visibility('editPopupBox');" ng-click="editUserInfo()">
            <span>Save Changes</span>
          </button>
        </div>
      </div>
    </div>



    <hr/>
    <div class="overlay overlay-data">
      <div class="login-container">
      <button type="button" class="overlay-close">
        <img height="30" width="30" src="images/close-button.png">  
      </button>
      <form id="login-form">
          Log In
          <input type="text" id="login-email" name="login-email" placeholder="Email Address">
          <input type="password" id="login-password" name="login-password" placeholder="Password">
      </form>
      </div>
    </div>




</body>
</html>
