

<form id="edit-form" ng-submit="saveChanges()">
    <h3 class="page-wide-text">Edit Personal Information</h3>
    </br>
    
    <input type="text" id="firstName" name="firstName" placeholder="First Name" ng-model="credentials.firstName" required>
    
    <input type="text" id="lastName" name="lastName" placeholder="Last Name"  ng-model="credentials.lastName" required>

    <!-- <input type="text" id="username" name="username" placeholder="Username"  ng-model="credentials.username" required> -->
    <p ng-model="credentials.username">blabla {{credentials.username}}</p>
    
    <input type="email" id="email" name="email" placeholder="Email Address"  ng-model="credentials.email" required>
    
    </br>
    <span class='formSpan'>Date of Birth</span>
    </br>
    <input type="date" id="birthdate" name="birthdate" placeholder="Date of Birth"  ng-model="credentials.birthdate">
    </br>
    
    <span class='formSpan'>Description</span>
    </br>
    <textarea rows="5" cols="50" id="description" ng-model="credentials.userDescription">
    </textarea>
    
    </br></br>
    <button class="edit-button" type="submit">
    <span>Save Changes</span>
    </button>
</form>