/* css for events page */
body {
}

#googleAddress {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    margin-left: 40px;
  }

.center {
	margin-left: auto;
	margin-right: auto;
}


.vote-button-container {
	width: 40%;
}

.vote-btn {
	width: 200px;
}

.main-event-container {
	background-color: #555555;
	color:#ffa500;
	width:80%;
	max-width: 1000px;
}

.event-title {
	text-align: center;
}

.data-location-container {
	color: #555555;
	background-color: #ffa500;
}

#event-date {

}

#event-location {
	float: right;
}

#event-desc {
	float: right;
	width: 40%;
	padding-right: 40px;
	padding-top: 40px;
}

#event-img {
	padding-left: 20px;
}

.attendees {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}


#eventFormContainer {
	background-color: white;
    padding: 20px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    height: auto;
    width: 500px;
    border: 3px solid #d3d3d3;
    text-align: center;
}

#createEvent {
	float: right;
}

#eventFormContainer select {
	float: left;
}

#eventFormContainer input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 200px; 
}
