/*****************
Event List View
*****************/

.event-item {
	/*display: inline;*/
	background: #add8e6;
	/*float: left;*/
	/*position: relative;*/
	width: 200px;
	height: 200px;
	margin: 5px;
	padding: 10px;
	color: #262524;
	font-size: 14px;
	border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .8);
}
/*
.event-item {
	margin:1px;
}

.event-item p {
	padding: 10px;
	color: white;
}*/

#createEvent-button {
	float: right;
	margin-left: 70%;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #FF3333;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

#event-name {
	color: black;
   /*-webkit-text-fill-color: white;  Will override color (regardless of order) */
      /*-webkit-text-stroke: 0.05px white;*/
	/*opacity: 50%;*/
	/*background-color: white;*/
}
