/* css for events page */
body {
}

#googleAddress {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    margin-left: 40px;
  }

.center {
	margin-left: auto;
	margin-right: auto;
}

.vote-button-container{
	margin-top: 200px;
	margin-left: 25%;
}

.vote-btn{
	padding: 10px;
	height: 75px; 
	width: 75px;
	background-color: white;
	border-color: white;
}


.main-event-container {
	min-width: 500px;
	width:55%;
	margin-bottom: 50px;
	margin-top: 20px;
	font-family: "Courier New";
}

.event-title {
	text-align: center;
	margin-bottom: 30px;
}

#event-img {
	height: 100%;
	width: 100%;
	border: 3px solid;
}

.data-location-container {
	background-color: #CEE3F6;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px; 
	padding-right: 4px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	border-left:  2px solid; 
}

#event-date {

}

#event-location {
	float: right;
}

.join-container{
	margin-top: 5px;
}

#join-button{
	float: right;
	border-radius: 3px;
	background-color: #BDBDBD;
}

#event-info {
	margin-top: 30px;
}

#event-info #attendees {
  float: right;
  width: 37%;
  padding: 7px;
  border: 2px solid;
  overflow:auto;
  height: 150px;
  background-color: #CEE3F6;
}

#event-info #event-desc{
  border: 2px solid;
  float: left;
  padding: 7px;
  width: 60%;
  overflow:auto;
  height: 150px;
  background-color: #CEE3F6
}

#eventFormContainer {
	background-color: white;
    padding: 20px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    height: auto;
    width: 500px;
    border: 3px solid #d3d3d3;
    text-align: center;
}

#createEvent {
	float: right;
}

#eventFormContainer select {
	float: left;
}

#eventFormContainer input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 200px; 
}
