/*****************************
Header and Masthead
*****************************/
.header {
    /*border: 1px solid black;*/
    margin: 10px 0px 0px 0px;
}

.header div button {
    margin: 10px;
}

.quick-navigation button {
    float: right;
}

.user-tools button {
    float: left;
}

.masthead {
    clear: both;
    text-align: center;
    /*padding: 15px;*/
    margin-bottom: -15px;
}

#nameplate {
    font-size: 50px;
}

#masthead-menu {
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: -10px;
}

#masthead-menu li {
    display: inline-block;
    margin-right: 3px;
}

.masthead hr {
    display: block;
    height: 1px;
    border-top: 2px solid black;
}

/*****************************
General
*****************************/

.page-wide-text {
    font-size: 16px;
    font-weight: 600;
}

/* Remove default button css */
button {
    border : 0;
    background-color: white;
}

.button-text {
    color: black;
    background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
}

/*****************************
Mini Navigation
*****************************/

.mini-navigation-menu {
    margin-bottom: -15px;
    text-align: center;
}

.mini-navigation-menu li {
    display: inline-block;
    margin-right: 48px;
    font-size: 13px;
}

.mini-navigation hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
}


/*

.comic-container {
    border: 1px solid black;
    height: 613px;
    width: 100%;
}

.comic-block {
    height: 200px;
    border: 2px solid black;
    background: #2db34a;
}

.comic-container > div > div:not(:last-child) {
    margin-right: 0.5%;
}

.comic-container div:not(:first-child) div{
    margin-top: 0.5%;
}

.first-row {
    clear: both;
}

.second-row {
    clear: both;
}

#title-section {
    float: left;
    width: 63%;
}

#title-aside {
    float:left;
    width: 36.5%;
}

.second-row div {
    float: left;
    width: 24.62%;
}

.third-row div {
    float: left;
    width: 33%;
}

*/


/*****************************
Login Header
*****************************/

.login-button {
    background-color: #FF3333;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
}

#login-form {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    padding-bottom: 150px;
    height: auto;
    width: 375px;
    border: 2px solid #d3d3d3;
    text-align: center;
}

#login-email {
    margin-top: 5px;
    height: 35px;
    width: 300px;
}

#login-container input{
    margin-top: 15px;
    margin-left: 20px;
    height: 35px;
    width: 250px;
}

.register-button {
    background-color: blue;
    border-radius: 5px;
}

.register-button span {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
}

#login-form .login-button {
    margin-top: 15px;
    float: left;
    margin-left: 5%;
    margin-right: 50%;
}

#login-form .register-button {
    margin-top: 10px;
    float: left;
    margin-left: 5%;
    margin-right: 50%;
}

/*****************************
Settings Header
*****************************/

.settings-button img {
    margin-top: -3px;
}

#settings-form {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    height: 325px;
    width: 375px;
    border: 1px solid #d3d3d3;
    text-align: center;
}

/*****************************
Search Header
*****************************/

/*#search-flyout {*/
    /*border: 1px solid black;*/
/*}*/

.search-button img {
    margin-top: -3px;
}

#search-form {
    margin-left: 50%;
    margin-top: 150px;
    width: 400px;
}

#search-form input {
    width: 350px;
    height: 30px;
    margin-left: -200px;
}

#search-form button {
    margin-right: 200px;
}

/*****************************
Overlay for all header buttons
*****************************/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.80);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 10000;
}



.formSpan {
    font-weight: bold;
    float: left;
    margin-left: 40px;
    margin-right: 10px;
}

#login-email, #login-password {
    float: left;
    margin-left: 5%;
}

#textInfo {
    color: #BFBFBF;
    float: left;
    text-indent: 40px;
    margin-top: 5px;
    font-size: 12px;
}

#registerText {
    float: left;
    text-indent: 40px;
    margin-top: 15px;
}

/*#headerContainer{
    background-image: url('/images/test.png');
    background-size: 100% 100%;
    height: 100%;
    height: 100%;
}*/
