/* Header */

.header {
    margin: 10px 0px 0px 0px;
}

.header div button {
    margin: 10px;
}

.quick-navigation button {
    float: left;
}

.sections-button img {
    margin-top: -3px;
}

.search-button img {
    margin-top: -3px;
}

.settings-button img {
    margin-top: -3px;
}

.user-tools button {
    float: right;
}

.masthead {
    clear: both;
    text-align: center;
    /*padding: 15px;*/
    margin-bottom: -15px;
}

#nameplate {
    font-size: 50px;
}

.masthead-menu {
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: -10px;
}

.masthead-menu li {
    display: inline-block;
    margin-right: 3px;
}

.masthead hr {
    display: block;
    height: 1px;
    border-top: 2px solid black;
}

.page-wide-text {
    font-family: "Times New Roman";
}

.mini-navigation-menu {
    margin-bottom: -15px;
    text-align: center;
}

.mini-navigation-menu li {
    display: inline-block;
    margin-right: 48px;
    font-size: 13px;
}

.mini-navigation hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
}

.button-text {
    color: black;
    background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
}

button {
    border : 0;
    background-color: white;
}

.comic-container {
    /*border: 1px solid black;*/
    height: 613px;
    width: 100%;
}

.comic-block {
    height: 200px;
    border: 2px solid black;
    background: #2db34a;
}

.comic-container > div > div:not(:last-child) {
    margin-right: 0.5%;
}

.comic-container div:not(:first-child) div{
    margin-top: 0.5%;
}

.first-row {
    clear: both;
}

.second-row {
    clear: both;
}

#title-section {
    float: left;
    width: 63%;
}

#title-aside {
    float:left;
    width: 36.5%;
}

.second-row div {
    float: left;
    width: 24.62%;
}

.third-row div {
    float: left;
    width: 33%;
}

.login-button {
    background-color: #FF3333;
    border-radius: 5px;
}

.login-button span {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
}

#login-form {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    height: 325px;
    width: 375px;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#login-email {
    margin-top: 5px;
    height: 35px;
    width: 300px;
}

#login-password {
    margin-top: 15px;
    margin-left: 1px;
    height: 35px;
    width: 300px;
}

.register-button {
    background-color: blue;
    border-radius: 5px;
}

.register-button span {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
}

#login-form .login-button {
    margin-top: 15px;
}

#login-form .register-button {
    margin-top: 10px;
}

/* Overlay */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.80);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#search-form {
    margin-left: 0px;
    margin-top: 100px;
    text-align: center;    
}

#search-form input {
    width: 350px;
    height: 30px;
}

.dropdown-container {
    display: none;
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

#settings-form {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    height: 325px;
    width: 375px;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.comic-block-overlay {
    /*display: none;*/
    opacity: 0.50;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}


