
.userimage-block {
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 2px solid black;
    background: #2db34a;
}

.userDescription-block{
	height: auto;
	width: 100%;
	padding: 20px 20px 30px 20px;
	border: 2px solid black;
	background: #2db34a;	
}

.edit-button {
    background-color: #FF3333;
    border-radius: 5px;
    float: right;
}

.edit-button span {
    color: white;
    font-weight: 400;
    padding: 5px;
}

#editPopupBox{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.popupBoxWrapper{
    width: 550px;
    margin: 50px auto;
    text-align: left;
}

.popupBoxContent{
    background-color: #FFF;
    padding: 20px 20px 30px 20px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 200px; 
}

textarea{
    margin-top: 5px;
    margin-bottom: 5px;
}