<div id='eventFormContainer' ng-controller="EventFormController">

	<form>
		
		<h3 class="page-wide-text">{{eventForm.name}}</h3>
		</br>

    	<span class='editText'>Name</span>
    	</br>
		<input type="text" id="name" ng-model="eventForm.name"></br>
		
		</br>
    	<span class='editText'>Address</span>
    	</br>	
		<input type="text" id="address" ng-model="eventForm.address"></br>
		
		</br>
    	<span class='editText'>Date</span>
    	</br>
		<input type="date" id="date" ng-model="eventForm.date"></br>
		
		</br>
    	<span class='editText'>Description</span>
    	</br>
		<input type="text" id="description" ng-model="eventForm.description"></br>
		
		
		</br>
    	<span class='editText'>Privacy</span>
	    </br>
		<select ng-model="eventForm.privacy">
			<option value="public">Public</option>
			<option value="private">Private</option>
		</select>
	</form>

	</br></br>
	<button class="btn btn-primary" id='createEvent' ng-click="eventForm.createEvent()">Create Event</button>

<!-- 	<div>
	    {{eventForm.name}}
	  </div>
	  <div>
	    {{eventForm.address}}
	  </div>
	  <div>
	  	{{eventForm.date}}
	  </div>
	  <div>
	  	{{eventForm.time}}
	  </div>
	</div>  -->
</div>


