<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bam!</title>
  <link rel="stylesheet" href="css/event.css">
  
<body>

  <div class="vote-button-container center" ng-controller="EventVoteController">
    <button type="button" class="btn btn-success vote-btn" ng-click="eventVote()">Bam!</button>
    <button type="button" class="btn btn-danger vote-btn" ng-click="eventVote()">Bam!</button>
    <div>
      <span>vote count</span>
      <span>vote count</span>
    </div>
  </div>

  <div ng-controller="EventDetailController" class="main-event-container center">
    <div ng-include='"views/event-title.html"'></div>
    <div class="center data-location-container">
      <span id="event-date">{{ event.date }}</span>
      <span id="event-location">{{ event.address }}</span>
    </div>
    <div ng-include='"views/event-content.html"'></div>
  </div>




</body>
</html>
