
<div ng-controller="EventDetailController" class="main-event-container center">
  <div ng-include='"views/event-title.html"'></div>
  <div class="center data-location-container">
    <br>
    <span id="event-date">{{ event.date }}</span>
    <span id="event-location">{{ event.address }}</span>
  </div>
  <div ng-include='"views/event-content.html"'></div>

  <div class="vote-button-container" ng-controller="EventVoteController">
    <input type="image" name="bam" class="btn btn-success vote-btn" ng-click="eventVote(true)" src="images/like.png">
    <span>Bam!! count</span>

    <input type="image" name="slam" class="btn btn-danger vote-btn" ng-click="eventVote(false)" src="images/dislike.png" >
    <span>Slam!! count</span>
    </div>
  </div>

</div>