<script src="js/eventListView.js"></script>
 
    <div class="events" ng-controller="EventListController">
      <div class="container">
      <button id='createEvent-button'>
        Create New Event
      </button>

      <ul>
        <li class="event-item" ng-repeat="event in events | filter:query"> <a ng-href="#/events/{{event._id}}">
          <p>{{event.name}}</p>
          <p>Categories: {{event.categories}}</p>
          <p class="upvotes">Upvotes: {{event.upvotes}}</p>
          <p>Downvotes: {{event.downvotes}}</p>
          <p>Location: {{event.pos}}</p>
        </a></li>
      </ul>
	  </div>
    </div>