

<div ng-controller="EventDetailController" class="main-event-container center">
  
  <div ng-include='"views/event-title.html"'></div>

  <!-- <img id="event-img" src="images/c-and-hobbes-title.png"> -->
  <span id="event-img"><img src="{{event.profile_pic}}"></span>

  <div class="center data-location-container">
    <span id="event-date">{{ event.date }}</span>
    <span id="event-location">{{ event.address }}</span>
  </div>
  
  <div class="center join-container">
    <span id="event-status">Hosted by {{ event.user_id }}</span>
    <button id="join-button"><Strong>Join</Strong></button>
  </div>


  <div id="event-info" ng-include='"views/event-content.html"'></div>

  <div class="vote-button-container" ng-controller="EventVoteController">
    
    <div style="float: left; width: 50%">
      <input type="image" name="bam" class="btn-success vote-btn" ng-click="eventVote(true)" src="images/like.png" onmouseover=" this.src='images/bam.jpeg'" onmouseout="this.src='images/like.png'">
      <p>Bam!! count</p>
    </div>
    <div  style="float: right; width: 50%">
      <input type="image" name="slam" class="btn-danger vote-btn" ng-click="eventVote(false)" src="images/dislike.png"  onmouseover=" this.src='images/slam.jpg'" onmouseout="this.src='images/dislike.png'">  
      <p>Slam!! count</p>
    </div>    
    
  </div>

</div>
