

  <!-- Search overlay -->
    <div id="search-flyout" class="overlay">
      <div>
        <form id="search-form">
          <input type="text" ng-model="query" placeholder="Search">
        </form>
      </div>
    </div>
  	<div class="container" ng-controller="EventListController">
      <button id='createEvent-button' ng-click='newEvent()'>
        Create New Event
      </button>
	</div>

	<!-- <div class="container" ng-controller="EventListController">
    <div class="events" data-ng-init="init()">
      <div class="event-item" style="height:200px;width:200px;background-color:blue;">
        <p>1</p>
      </div>
      <div class="event-item" style="height:200px;width:400px;background-color:blue;">
        <p>2</p>
      </div>
      <div class="event-item" style="height:400px;width:200px;background-color:blue;">
        <p>3</p>
      </div>
      <div class="event-item" style="height:200px;width:200px;background-color:blue;">
        <p>4</p>
      </div>
      <div class="event-item" style="height:300px;width:200px;background-color:blue;">
        <p>5</p>
      </div>
      <div class="event-item" style="height:200px;width:200px;background-color:blue;">
        <p>6</p>
      </div>
      <div class="event-item" style="height:200px;width:300px;background-color:blue;">
        <p>7</p>
      </div>
    </div>
  </div> -->


  <div class="container" ng-controller="EventListController">
      <div class="events" data-ng-init="init()">
        <div class="event-item" ng-repeat="event in events | filter:query" ng-style="setDimensions(event)" style="background-image: url('{{event.profile_pic}}'); background-size: 100% 100%;">
          <a id="event-name" ng-href="#/events/{{event._id}}"><strong>{{event.name}}</strong></a>

          <br>

  	      Upvotes: {{event.upvotes}}
  	      <br>
          Downvotes: {{event.downvotes}}
          <br>
	        <input style="" width="30" type="image" name="bam"  ng-click="eventVote(true, event)" src="images/like.png"/>
          <input style="position:relative;bottom:44px;left:40px;" width="30" type="image" name="slam" ng-click="eventVote(false, event)" src="images/dislike.png"/>
        </div>
      </div>
  </div>
	<hr/>
