<div id='eventFormContainer' ng-controller="EventFormController">
	<h3>{{eventForm.name}}</h3></br>
	<form>
		<span for="name">Name</span></br>
		<input type="text" id="name" ng-model="eventForm.name" ng-minlength="5" ng-maxlength="12"><br/></br>
		
		<span for="address">Address</span></br>
		<input type="text" id="address" ng-model="eventForm.address"><br/></br>
		
		<span for="date">Date</span></br>
		<input type="date" id="date" ng-model="eventForm.date"><br/></br>
		
		<span>Description</span></br>
		<input type="text" id="description" ng-model="eventForm.description"><br/></br>
		
		<span for="privacy">Privacy</span>
		<select ng-model="eventForm.privacy">
			<option value="public">Public</option>
			<option value="private">Private</option>
		</select>

		<span for="category">Category</span>
		<select id="category" ng-model="eventForm.category">
			<option value="social">Social</option>
			<option value="sports">Sports</option>
			<option value="food">Food</option>
			<option value="recreational">Recreactional</option>
			<option value="informational">Informational</option>
		</select>
	</form>

	<button class="btn btn-primary" ng-click="eventForm.createEvent()">Create Event</button>

	<div>
	    {{eventForm.name}}
	  </div>
	  <div>
	    {{eventForm.address}}
	  </div>
	  <div>
	  	{{eventForm.date}}
	  </div>
	  <div>
	  	{{eventForm.time}}
	  </div>
	</div> 
</div>