

  <!-- Search overlay -->
    <div id="search-flyout" class="overlay">
      <div>
        <form id="search-form">
          <input type="text" ng-model="query" placeholder="Search">
        </form>
      </div>
    </div>
  	<div class="container" ng-controller="EventListController">
      <button id='createEvent-button' ng-click='newEvent()'>
        Create New Event
      </button>
	</div>
	<div class="container" ng-controller="EventListController">
      <div class="events" data-ng-init="init()">
        <div class="event-item" ng-repeat="event in events | filter:query"> <a ng-href="#/events/{{event._id}}">
          <p ng-style="setDimensions(event)">{{event.name}}
          <span>Categories: {{event.category}}</span>
          <span>Upvotes: {{event.upvotes}}</span>
          <span>Downvotes: {{event.downvotes}}</span>
	      </p>
        </a></div>
      </div>
    </div>
	<hr/>