

<div ng-controller="UserController">
  <div class='page current'>
    <div class="image-block">
        <img class='circular' width="248px" height="198px" src="{{user.profile_pic}}">
    </div>

    <div id="userDescription-block">
      <p><b>Fullname: </b> {{user.fullname}} </p>
      <p><b>Username: </b> {{user.username}} </p>
      <p><b>Birth Date: </b> {{user.birthyear}} </p>
      <p>{{user.description}}</p>

      <p><b>Events</b></p> 
      <ul>
        <li ng-repeat="event in user.created_events">{{event.name}}</li>

      </ul>
      
    </div>

  </div>
</div>
