
    
<div ng-controller="UserController">
  <div class='page current'>
    <div class="userimage-block">
      <img height="100%" width="100%" src="images/user_pic.jpg">
    </div>
          
    <div id="userDescription-block">
      <p><b>Fullname: </b> {{user.fullname}} </p> 
      <p><b>Username: </b> {{user.username}} </p>
      <p><b>Birth Date: </b> {{user.birthyear}} </p>
      <p><b>Email: </b> {{user.email}} </p><!-- Do we want to make this info public?-->
      <p>{{user.description}}</p>
            
      <button class="edit-button" type="button" ng-click="edit()">
        <span>Edit</span>
      </button>
    </div>

  </div>
</div>
